# ========================
# Node / Nuxt
# ========================
node_modules/
.nuxt/
.output/
dist/

# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# ========================
# Logs
# ========================
logs/
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Docker
# ========================
*.db
mysql_data/

# ========================
# IDE
# ========================
.vscode/
.idea/