# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# LOGS
# =========================
logs/
*.log

# =========================
# NODE / NUXT
# =========================
node_modules/
.nuxt/
.output/
dist/
.cache/

# =========================
# VSCODE / OS
# =========================
.vscode/
.DS_Store
Thumbs.db

# =========================
# DOCKER
# =========================
*.pid
*.sock

# =========================
# TEMP
# =========================
tmp/
temp/